In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [45]:
def get_month(string):
    return string.split("/")[0]

alc_df = pd.read_csv('alc_dataset.csv', nrows=3000000)
#alc_df = pd.read_csv('alc_dataset.csv')
alc_df["Month"] = alc_df["Date"].apply(get_month)
alc_df.drop(columns = ["Year", "Date", "Unnamed: 0", "Store Name"], inplace = True)
#alc_df = pd.get_dummies(alc_df)
alc_df
#alc_df.groupby(["Year", "Month", "County"]).sum()

,County,Category Name,Vendor Name,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Population,Month
0,BLACK HAWK,American Vodkas,SAZERAC NORTH AMERICA,1750.0,6.92,10.38,12.0,124.56,21.00,131723,01
1,BLACK HAWK,Flavored Rum,PERNOD RICARD USA,1000.0,10.49,15.74,36.0,566.64,36.00,131723,01
2,CLINTON,Canadian Whiskies,DIAGEO AMERICAS,375.0,8.00,12.00,10.0,120.00,3.75,46437,01
3,TAMA,Canadian Whiskies,CONSTELLATION BRANDS INC,1750.0,10.45,15.68,12.0,188.16,21.00,16869,01
4,BLACK HAWK,Imported Dry Gins,BACARDI USA INC,750.0,13.50,20.25,2.0,40.50,1.50,131723,01
...,...,...,...,...,...,...,...,...,...,...,...
2999995,BLACK HAWK,AMERICAN AMARETTO,Luxco-St Louis,750.0,3.38,5.07,12.0,60.84,9.00,133390,12
2999996,DALLAS,BLENDED WHISKIES,Luxco-St Louis,1750.0,7.62,11.43,6.0,68.58,10.50,80631,09
2999997,POLK,VODKA 80 PROOF,Luxco-St Louis,1750.0,7.13,10.70,6.0,64.20,10.50,444671,08
2999998,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,"Bacardi U.S.A., Inc.",750.0,12.66,18.99,1.0,18.99,0.75,444671,04
2999999,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,Luxco-St Louis,750.0,3.85,5.77,6.0,34.62,4.50,444671,05

In [46]:
grouped_df = alc_df.groupby(['Month', 'County', 'Population']).sum().reset_index()
grouped_df = pd.get_dummies(grouped_df, columns=['Month', 'County'])
grouped_df

,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Month_01,Month_02,Month_03,...,County_TAYLOR,County_UNION,County_VAN BUREN,County_WAPELLO,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH
0,7074,124825.0,1213.33,1820.26,1026.0,12587.89,951.40,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7387,272925.0,2322.59,3487.81,2316.0,27235.71,2206.62,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3644,3500.0,21.70,32.55,8.0,107.32,14.00,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3754,90075.0,866.52,1300.94,484.0,4903.92,387.08,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,37069,2401550.0,25417.21,38220.96,25209.0,328422.61,22498.96,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1714,10430,759575.0,7281.38,10963.80,5138.0,67792.33,5369.12,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1715,102284,5778550.0,63178.49,95031.68,66316.0,864005.66,57901.56,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1716,102321,5297225.0,56387.49,84921.64,68284.0,905288.89,61588.14,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1717,7557,334300.0,3281.56,4933.01,1997.0,27022.17,2106.17,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
grouped_df['State Profit per capita'] = (grouped_df['State Bottle Retail'] - grouped_df['State Bottle Cost'])/grouped_df['Population']
grouped_df['Liters Sold per capita'] = grouped_df['Volume Sold (Liters)'] / grouped_df['Population']
grouped_df['Sales per capita (Dollars)'] = grouped_df['Sale (Dollars)'] / grouped_df['Population']
grouped_df['Bottles Sold per capita'] = grouped_df['Bottles Sold'] / grouped_df['Population']
# grouped_df.drop(columns=['State Bottle Retail', 'Volume Sold (Liters)', 'Sale (Dollars)', 'Bottles Sold', 'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail'], inplace=True)
grouped_df

,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Month_01,Month_02,Month_03,...,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH,State Profit per capita,Liters Sold per capita,Sales per capita (Dollars),Bottles Sold per capita
0,7074,124825.0,1213.33,1820.26,1026.0,12587.89,951.40,1,0,0,...,0,0,0,0,0,0,0.085797,0.134493,1.779459,0.145038
1,7387,272925.0,2322.59,3487.81,2316.0,27235.71,2206.62,1,0,0,...,0,0,0,0,0,0,0.157739,0.298717,3.686978,0.313524
2,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,1,0,0,...,0,0,0,0,0,0,0.166742,0.282397,3.261373,0.297134
3,3644,3500.0,21.70,32.55,8.0,107.32,14.00,1,0,0,...,0,0,0,0,0,0,0.002977,0.003842,0.029451,0.002195
4,3754,90075.0,866.52,1300.94,484.0,4903.92,387.08,1,0,0,...,0,0,0,0,0,0,0.115722,0.103111,1.306319,0.128929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,37069,2401550.0,25417.21,38220.96,25209.0,328422.61,22498.96,0,0,0,...,0,0,1,0,0,0,0.345403,0.606948,8.859764,0.680056
1714,10430,759575.0,7281.38,10963.80,5138.0,67792.33,5369.12,0,0,0,...,0,0,0,1,0,0,0.353060,0.514777,6.499744,0.492617
1715,102284,5778550.0,63178.49,95031.68,66316.0,864005.66,57901.56,0,0,0,...,0,0,0,0,1,0,0.311419,0.566086,8.447124,0.648352
1716,102321,5297225.0,56387.49,84921.64,68284.0,905288.89,61588.14,0,0,0,...,0,0,0,0,1,0,0.278869,0.601911,8.847538,0.667351
1717,7557,334300.0,3281.56,4933.01,1997.0,27022.17,2106.17,0,0,0,...,0,0,0,0,0,1,0.218532,0.278705,3.575780,0.264258

In [63]:
def coef_mat(X, Y):
    xtx = np.linalg.inv(X.T.dot(X))
    beta_hat = xtx.dot(X.T.dot(Y))
    return beta_hat

def ridge_betas(X, Y, L):
    xtx = np.linalg.inv(X.T.dot(X) + np.identity(X.shape[1])*L)
    beta_hat = xtx.dot(X.T.dot(Y))
    return beta_hat

def ols_regression(X, Y):
    beta_hat = coef_mat(X, Y)
    return X.dot(beta_hat)

def ridge_regression(X, Y, L, beta_hat):
    return X.dot(beta_hat)

def lse(Y, y_hat):
    return (Y - y_hat).T.dot(Y - y_hat)

def rss(Y, y_hat):
    return str(np.sum(
        np.square(Y - y_hat)
    ))

def average_pct_err(Y, y_hat):
    return np.mean((abs(Y-y_hat))/Y)

In [51]:
# Bottles Sold per capita
scaler = StandardScaler()

Y = grouped_df['Bottles Sold per capita']
# bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita'])

bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Bottles Sold'])
#bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Bottles Sold'])
#bottles_columns = pd.Series(bottles_sold_df.columns)
bottles_sold_df = scaler.fit_transform(bottles_sold_df)
#bottles_sold_df = pd.DataFrame(scaler.fit_transform(bottles_sold_df.loc[:, bottles_sold_df.columns != 'County']))
X_train, X_test, y_train, y_test = train_test_split(bottles_sold_df, Y, test_size=0.2, random_state = 42)

# Training Set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([bottles_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                    0         1
42      County_GREENE  0.066079
32     County_CLAYTON  0.043735
62        County_LYON  0.040067
5            Month_05  0.036132
1            Month_01  0.029320
..                ...       ...
61       County_LUCAS -0.023089
0          Population -0.024837
90  County_WASHINGTON -0.033644
66    County_MITCHELL -0.034319
81      County_SHELBY -0.051892

[100 rows x 2 columns]
TRAINING ERROR:  174.4368222294251
TESTING ERROR:  49.676063865948585

In [52]:
# Sales volume per capita
scaler = StandardScaler()

Y = grouped_df['Sales per capita (Dollars)']
# bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita'])

sales_volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Sale (Dollars)'])
sales_volume_columns = pd.Series(sales_volume_df.columns)
sales_volume_df = scaler.fit_transform(sales_volume_df)
X_train, X_test, y_train, y_test = train_test_split(sales_volume_df, Y, test_size=0.2, random_state = 42)

# Training Set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([sales_volume_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = rss(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = rss(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                       0         1
42      County_DICKINSON  0.927100
62        County_KOSSUTH  0.583309
32    County_CERRO GORDO  0.557410
5   Volume Sold (Liters)  0.537681
4           Bottles Sold  0.382652
..                   ...       ...
61         County_KEOKUK -0.317312
0             Population -0.347390
66          County_LUCAS -0.445879
90         County_TAYLOR -0.454776
81           County_POLK -0.686497

[100 rows x 2 columns]
TRAINING ERROR:  29445.42396525146
TESTING ERROR:  8405.475762140257

In [66]:
# Volume of sold alcohol per capita
scaler = StandardScaler()

Y = grouped_df['Liters Sold per capita']

volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Volume Sold (Liters)'])
volume_columns = pd.Series(volume_df.columns)
volume_df = scaler.fit_transform(volume_df)
X_train, X_test, y_train, y_test = train_test_split(volume_df, Y, test_size=0.2, random_state = 42)

# Training Set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([volume_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                     0         1
42    County_DICKINSON  0.071802
62      County_KOSSUTH  0.047429
32  County_CERRO GORDO  0.045361
36         County_CLAY  0.033139
1   Bottle Volume (ml)  0.026715
..                 ...       ...
61       County_KEOKUK -0.024131
0           Population -0.024879
90       County_TAYLOR -0.035058
66        County_LUCAS -0.035586
81         County_POLK -0.044492

[100 rows x 2 columns]
TRAINING ERROR:  1.7575503713818166
TESTING ERROR:  1.7578845916438248

In [65]:
# State Profit per capita
scaler = StandardScaler()

Y = grouped_df['Sales per capita (Dollars)']
state_profit_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'State Bottle Retail', 'State Bottle Cost'])
profit_columns = pd.Series(state_profit_df.columns)
state_profit_df = scaler.fit_transform(state_profit_df)
X_train, X_test, y_train, y_test = train_test_split(state_profit_df, Y, test_size=0.2, random_state = 10)

# Training Set
L = 2
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([profit_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
L = 2
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                       0         1
4   Volume Sold (Liters)  2.032219
1     Bottle Volume (ml)  1.806460
41      County_DICKINSON  0.863788
61        County_KOSSUTH  0.604635
31    County_CERRO GORDO  0.486579
..                   ...       ...
45        County_FREMONT -0.464934
65          County_LUCAS -0.521120
80           County_POLK -0.632907
2           Bottles Sold -1.006529
0             Population -1.667978

[99 rows x 2 columns]
TRAINING ERROR:  2.0235068969568837
TESTING ERROR:  2.1526963066379765